
<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to avoid prettytable default error.

In [1]:
!pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in d:\study\python project\new folder\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in d:\study\python project\new folder\lib\site-packages (3.12.0)
Requirement already satisfied: ipython in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: six in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: ipython-genutils in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: wcwidth in d:\study\python project\new folder\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\study\python project\new folder\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\study\python project\new folder\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: pygments in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: pickleshare in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: colorama in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: traitlets>=4.2 in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\study\python project\new folder\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [2]:
import pandas as pd
import csv, sqlite3
con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

Load the SQL magic module

In [3]:
!pip install ipython-sql
%load_ext sql

Requirement already satisfied: ipython-sql in d:\study\python project\new folder\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: sqlparse in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: ipython-genutils in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in d:\study\python project\new folder\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: greenlet!=0.4.17 in d:\study\python project\new folder\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\study\python project\new folder\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: pickleshare in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: jedi>=0.16 in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: colorama in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: decorator in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: setuptools>=18.5 in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: traitlets>=4.2 in d:\study\python project\new folder\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in d:\study\python project\new folder\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\study\python project\new folder\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [4]:

df1 = pd.read_csv('ChicagoCensusData.csv')
df1.to_sql("Chicago_Census_Data", con, if_exists='replace', index=False,method="multi")

df2 = pd.read_csv('ChicagoCrimeData.csv')
df2.to_sql("Chicago_Crime_Data", con, if_exists='replace', index=False,method="multi")

df3 = pd.read_csv('ChicagoPublicSchools.csv')
df3.rename(columns={"Elementary, Middle, or High School":"Type_school"}, inplace = True)
df3.to_sql("Chicago_Public_Schools", con, if_exists='replace', index=False,method="multi")

566

Establish a connection between SQL magic module and the database `FinalDB.db`

In [5]:
%sql sqlite:///FinalDB.db
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///FinalDB.db
Done.

[('Chicago_Census_Data',),
 ('Chicago_Crime_Data',),
 ('Chicago_Public_Schools',)]

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [23]:
%sql SELECT COUNT(*) FROM Chicago_Crime_Data;

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [25]:
%sql Select COMMUNITY_AREA_NAME from Chicago_Census_Data where PER_CAPITA_INCOME <11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [27]:
%sql Select * from Chicago_Crime_Data where PRIMARY_TYPE LIKE '%MINOR%' OR DESCRIPTION LIKE '%MINOR%';

 * sqlite:///FinalDB.db
Done.

[(3987219, 'HL266884', '2005-03-31', '024XX N CLARK ST', '2210', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'CONVENIENCE STORE', 1, 0, 2333, 19, 43.0, 7.0, '22', 1172680.0, 1916483.0, 2005, 41.92626872, -87.64089934, '(41.926268719, -87.640899336)'),
 (3266814, 'HK238408', '2004-03-13', '093XX S STONY ISLAND AVE', '2230', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR', 'ALLEY', 1, 0, 413, 4, 8.0, 48.0, '22', 1188539.0, 1843379.0, 2004, 41.72530099, -87.58496589, '(41.72530099, -87.584965887)')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [29]:
%sql Select  PRIMARY_TYPE, DESCRIPTION from Chicago_Crime_Data where PRIMARY_TYPE ='KIDNAPPING' AND DESCRIPTION like '%CHILD%' ;

 * sqlite:///FinalDB.db
Done.

[('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [30]:
%sql Select DISTINCT(PRIMARY_TYPE) from Chicago_Crime_Data WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [31]:
%sql Select Type_School,round(AVG(SAFETY_SCORE),2) from Chicago_Public_Schools GROUP BY Type_School;

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52), ('HS', 49.62), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [32]:
%sql Select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY from Chicago_Census_Data ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [39]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER)\
                    FROM Chicago_Crime_Data\
                        GROUP BY COMMUNITY_AREA_NUMBER\
                        ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC\
                        LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [40]:
#Method 1
query = """
    SELECT COMMUNITY_AREA_NAME
    FROM Chicago_Census_Data
    WHERE HARDSHIP_INDEX = (
        SELECT MAX(HARDSHIP_INDEX)
        FROM Chicago_Census_Data
);
"""

# Thực thi câu lệnh SQL
%sql $query

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

In [41]:
%sql Select COMMUNITY_AREA_NAME from Chicago_Census_Data\
                                        WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX)\
                                                                FROM Chicago_Census_Data);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [42]:
%sql SELECT COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER FROM CHICAGO_CENSUS_DATA \
                        ORDER BY COMMUNITY_AREA_NUMBER DESC;

 * sqlite:///FinalDB.db
Done.

[('Edgewater', 77.0),
 ("O'Hare", 76.0),
 ('Morgan Park', 75.0),
 ('Mount Greenwood', 74.0),
 ('Washington Height', 73.0),
 ('Beverly', 72.0),
 ('Auburn Gresham', 71.0),
 ('Ashburn', 70.0),
 ('Greater Grand Crossing', 69.0),
 ('Englewood', 68.0),
 ('West Englewood', 67.0),
 ('Chicago Lawn', 66.0),
 ('West Lawn', 65.0),
 ('Clearing', 64.0),
 ('Gage Park', 63.0),
 ('West Elsdon', 62.0),
 ('New City', 61.0),
 ('Bridgeport', 60.0),
 ('McKinley Park', 59.0),
 ('Brighton Park', 58.0),
 ('Archer Heights', 57.0),
 ('Garfield Ridge', 56.0),
 ('Hegewisch', 55.0),
 ('Riverdale', 54.0),
 ('West Pullman', 53.0),
 ('East Side', 52.0),
 ('South Deering', 51.0),
 ('Pullman', 50.0),
 ('Roseland', 49.0),
 ('Calumet Heights', 48.0),
 ('Burnside', 47.0),
 ('South Chicago', 46.0),
 ('Avalon Park', 45.0),
 ('Chatham', 44.0),
 ('South Shore', 43.0),
 ('Woodlawn', 42.0),
 ('Hyde Park', 41.0),
 ('Washington Park', 40.0),
 ('Kenwood', 39.0),
 ('Grand Boulevard', 38.0),
 ('Fuller Park', 37.0),
 ('Oakland', 36.0),
 ('Douglas', 35.0),
 ('Armour Square', 34.0),
 ('Near South Side', 33.0),
 ('Loop', 32.0),
 ('Lower West Side', 31.0),
 ('South Lawndale', 30.0),
 ('North Lawndale', 29.0),
 ('Near West Side', 28.0),
 ('East Garfield Park', 27.0),
 ('West Garfield Park', 26.0),
 ('Austin', 25.0),
 ('West Town', 24.0),
 ('Humboldt park', 23.0),
 ('Logan Square', 22.0),
 ('Avondale', 21.0),
 ('Hermosa', 20.0),
 ('Belmont Cragin', 19.0),
 ('Montclaire', 18.0),
 ('Dunning', 17.0),
 ('Irving Park', 16.0),
 ('Portage Park', 15.0),
 ('Albany Park', 14.0),
 ('North Park', 13.0),
 ('Forest Glen', 12.0),
 ('Jefferson Park', 11.0),
 ('Norwood Park', 10.0),
 ('Edison Park', 9.0),
 ('Near North Side', 8.0),
 ('Lincoln Park', 7.0),
 ('Lake View', 6.0),
 ('North Center', 5.0),
 ('Lincoln Square', 4.0),
 ('Uptown', 3.0),
 ('West Ridge', 2.0),
 ('Rogers Park', 1.0),
 ('CHICAGO', None)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>